{{# partial "acciones" }}

<h4>Faltan elementos para realizar las comparaciones.</h4>
<img src="/imagenes/metodologiaNoEncontrada.png" alt="\_(o_o)_/">

{{/ partial }}

{{> Metodologias/metodologiasTemplate.hbs }}
