{{# partial "acciones" }}
	
<form action="/metodologias/comparacion/:metodologia" method="get">
	<fieldset>
		<legend>Elija una metodolog&iacute;a:</legend>
			<select name="metodologia" placeholder="Metodolog&iacute;a" autofocus required>
				{{# each metodologias }}
				<option value="{{ nombre }}">{{ nombre }}</option>
				{{/ each }}
			</select>
	</fieldset>
		
	<input type="submit" value="Comparar">
</form>
	
{{# block "resultado"}}
	
{{/ block}}
	
</body>

{{/ partial }}

{{> Metodologias/metodologiasTemplate.hbs }}
