{{# partial "resultado" }}

<hr>
<h4>No est&aacute; accediendo a metodolog&iacute;as que le corresponden.</h4>
<img src="/imagenes/metodologiaNoEncontrada.png" alt="\_(o_o)_/">

{{/ partial }}

{{> Metodologias/metodologiasComparacion.hbs }}
