{{# partial "contenido" }}

<head>
	<title>Comparaci&oacute;n de Metodolog&iacute;as</title>
	<link rel="stylesheet" href="/home.css">
</head>

<body>

	<div class="jumbotron text-center">
		<h1>Comparaci&oacute;n de Metodolog&iacute;as</h1>
		<p>Proceda a elegir una metodolog&iacute;a para determinar cu&aacute;les empresas las cumplen.</p>
	</div>
	
	{{# block "acciones"}}

	{{/ block}}
	
</body>

{{/ partial }}

{{> template.hbs }}