{{# partial "contenido" }}
    <head>
        <!-- Css del home -->
        <link rel="stylesheet"  href="home.css">
    </head>

    <body>

    <div class="jumbotron text-center">
        <h1>Business Program</h1>
        <p>Tool for investors</p>
    </div>


    <div id="empresas" class="container-fluid contenedor-blanco">
        <div class="row">
            <div class="col-sm-2">
            </div>

            <div class="col-sm-8 contenido">
                <div>
                    <h2 class="titulo">Gestionar Empresas</h2>

                    <ul class="letra-descripciones-contenedores">
                        <li class="item-descripcion">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <label class="descripcion">Puede visualizar las cuentas de una empresa dado un periodo</label>
                        </li>
                        <li class="item-descripcion">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <label class="descripcion">Puede obtener el valor de las cuentas de una empresa dado un periodo</label>
                        </li>
                    </ul>

                    <div class="buttons">
                        <button type="button" class="btn btn-default btn-lg boton">Consultar</button>
                    </div>
                </div>

                <div class="img-rounded imagenes">
                    <img class="img-responsive rounded float-right imagen"
                         src="https://www.iae.edu.ar/es/PublishingImages/alumni/icono_empresas.png">
                </div>

            </div>

            <div class="col-sm-2">
            </div>
        </div>
    </div>


    <div id="indicadores" class="container-fluid contenedor-gris">
        <div class="row">
            <div class="col-sm-2">
            </div>

            <div class="col-sm-8 contenido">
                <div class="img-rounded imagenes">
                    <img class="img-responsive rounded float-right imagen"
                         src="http://redenetsolucoes.com.br/img/components/bar-chart-icon.svg">
                </div>

                <div>
                    <h2 class="titulo">Gestionar Indicadores</h2>

                    <ul class="letra-descripciones-contenedores">
                        <li class="item-descripcion">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <label class="descripcion">Puede crear un indicadores, el cual es una operacion algebraica que puede estar compuesta de constantes, cuentas u otros indicadores</label>
                        </li>
                        <li class="item-descripcion">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <label class="descripcion">Puede consultar el valor de un indicador, para una empresa y periodo paticular de la misma</label>
                        </li>
                        <li class="item-descripcion">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <label class="descripcion">Puede eliminar un indicador</label>
                        </li>
                    </ul>

                    <div class="buttons">
                        <button type="button" class="btn btn-lg boton">Eliminar</button>
                        <button type="button" class="btn btn-lg boton">Crear</button>
                        <button type="button" class="btn btn-primary btn-lg boton">Consultar</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
            </div>
        </div>
    </div>


    <div id="metodologias" class="container-fluid contenedor-grisClaro">
        <div class="row">
            <div class="col-sm-2">
            </div>

            <div class="col-sm-8 contenido">
                <div>
                    <h2 class="titulo">Gestionar Metodologias</h2>

                    <ul class="letra-descripciones-contenedores">
                        <li class="item-descripcion">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <label class="descripcion"></label>
                        </li>
                        <li class="item-descripcion">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <label class="descripcion">Aqui va una descripcion bonita</label>
                        </li>
                        <li class="item-descripcion">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <label class="descripcion">Aqui va una descripcion bonita</label>
                        </li>
                    </ul>

                    <div class="buttons">
                        <button type="button" class="btn btn-lg boton">Eliminar</button>
                        <button type="button" class="btn btn-lg boton">Crear</button>
                        <button type="button" class="btn btn-primary btn-lg boton">Consultar</button>
                    </div>
                </div>

                <div class="img-rounded imagenes">
                    <img class="img-responsive rounded float-right imagen"
                         src="http://www.arangobueno.com/wp-content/uploads/2016/08/Iconos_Empresariales.png">
                </div>
            </div>

            <div class="col-sm-2">
            </div>
        </div>
    </div>




    </body>

{{/partial}}

{{> template.hbs }}