{{# partial "titulo" }}
    <title>Consultorea.me</title>
{{/partial}}

{{# partial "contenido" }}

    <style>

        .contenedor {
            margin-top: 10%;
        }

    </style>

    <div class="contenedor">

        <label>CREADO!!!</label>

        <div class="well">

            {{formula}}

        </div>

    </div>

{{/partial}}

{{> template.hbs }}