{{# partial "titulo" }}
    <title>Consultorea.me</title>
{{/partial}}

{{# partial "contenido" }}

    <style>

        .contenedor {
            margin-top: 10%;
        }

    </style>

    <div class="contenedor">

        <div class="well">

            {{formula}}

        </div>

        <form class="formcito" method="POST">

            <select class="form-control mi-control selector-indicador" name="nombre" id="selector-indicador" onchange="this.form.submit()">

                <option disabled selected value> -- Seleccione un indicador -- </option>
                {{#each indicadores}}
                    <option value="{{nombre}}">{{nombre}}</option>
                {{/each}}

            </select>

        </form>

    </div>

{{/partial}}

{{> template.hbs }}