{{# partial "contenido" }}

<style>

.jumbotron {
        background-color: #46aadf;
        color: #fff;
        padding: 100px 25px;
        margin-bottom: 100px;
        }
        
        
        
</style>



 <div class="jumbotron text-center">

     <h1>Consultar indicadores</h1>
     <p>Ponga a prueba a las empresas evaluandolas con sus indicadores </p>

 </div>

{{/partial}}

{{> template.hbs }}