{{# partial "contenido" }}
    <style>
        .jumbotron {
            background-color: #46aadf;
            color: #fff;
            padding: 100px 25px;
            margin-bottom: 100px;
        }

        .container {
            padding: 10px 25px;
        }

        .row.mi-fila{
            padding: 100px;
        }

        .row.primer-fila {
            display: flex;
            align-items: center;
        }

        .form-group.form-indicador {
            margin-bottom: inherit;
        }

        .form-control.mi-control {
            height: 40px;
        }

        .well.mi-well {
            margin-bottom: inherit;
        }

        .clasificacion-input {
            font-size: 20px;
        }

    </style>



    <div class="jumbotron text-center">

        <h1>Consultar indicadores</h1>
        <p>Ponga a prueba a las empresas evaluandolas con sus indicadores </p>

    </div>

    <div class = "container">

        <div class="row mi-fila primer-fila">

            <div class="col-lg-6 selectorIndicador text-left">

                <div class="form-group form-indicador">
                    <label class="clasificacion-input" for="selector-indicador">Indicador</label>
                    <select class="form-control mi-control selector-indicador" id="selector-indicador" onchange="this.form.submit()">

                        {{#each indicador}}
                            <option value="{{nombre}}">{{nombre}}</option>
                        {{/each}}

                        <!--
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        -->
                    </select>

                </div>

            </div>

            <div class="col-lg-6 text-center">

                <label class="clasificacion-input">Formula</label>
                <div class="well mi-well">

                </div>

            </div>

        </div>

        <div class = "row mi-fila">

            <div class = "col-lg-6 selectorEmpresa text-left">

                <div class="form-group form-empresa">
                    <label class="clasificacion-input" for="selector-indicador">Empresa</label>
                    <select class="form-control mi-control selector-empresa" id="selector-empresa" disabled>

                    </select>
                </div>

            </div>

            <div class = "col-lg-6 selectorPeriodo text-right">

                <div class="form-group form-periodo">
                    <label class="clasificacion-input" for="selector-indicador">Periodo</label>
                    <select class="form-control mi-control selector-periodo" id="selector-periodo" disabled>

                    </select>
                </div>

            </div>

        </div>

        <div class = "row">

            <div class = "col-lg-12 resultado text-center">

                <p>Resultado</p>
                <div class="well">

                </div>

            </div>

        </div>

    </div>


{{/partial}}

{{> template.hbs }}