{{# partial "contenido" }}
<style>
.jumbotron {
        background-color: #46aadf;
        color: #fff;
        padding: 100px 25px;
        margin-bottom: 100px;
        }

.container {
		padding: 10px 25px;
		}

.row{
padding: 100px;
}

p{
font-size: 20px;
}

.blue-background{
background-color: #2A93DF;
}

.margen{
margin-top: 35px;
}

.dropdown-menu {
  width: 100%; 
}

.btn{
 width: 100%;
}
				
</style>



 <div class="jumbotron text-center">

     <h1>Consultar indicadores</h1>
     <p>Ponga a prueba a las empresas evaluandolas con sus indicadores </p>

 </div>

 <div class = "container">
 
 <div class="row">
  <div class="col-lg-6 selectorIndicador margen text-left">
    <div class="dropdown btn-group">

      <button class="btn btn-primary dropdown-toggle btn-lg blue-background" type="button" data-toggle="dropdown">Seleccione un indicador
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a href="#">ROA</a></li>
        <li><a href="#">ROE</a></li>
      </ul>

    </div>
  </div>
  
   <div class="col-lg-6  text-center">
   
   <p>Formula</p>
   <div class="well">
   
   </div>
   
   </div>
</div>

<div class = "row">

<div class = "col-lg-6 selectorEmpresa text-left">
	  <div class="dropdown btn-group">

      <button class="btn btn-primary dropdown-toggle btn-lg blue-background" type="button" data-toggle="dropdown">Seleccione una empresa
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a href="#">Empresa1</a></li>
        <li class = "disabled"><a href="#">Empresa2</a></li>
        <li><a href="#">Empresa3</a></li>
      </ul>

    </div>
</div>

<div class = "col-lg-6 selectorPeriodo text-right">
      <div class="dropdown btn-group">

      <button class="btn btn-primary dropdown-toggle btn-lg blue-background" type="button" data-toggle="dropdown">Seleccione un periodo
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li class = "disabled"><a href="#">2012</a></li>
        <li><a href="#">2015</a></li>
        <li><a href="#">2016</a></li>
        <li><a href="#">2017</a></li>
      </ul>

    </div>
</div>

</div>

<div class = "row">

<div class = "col-lg-12 resultado text-center">

<p>Resultado</p>
 <div class="well">
   
  </div>
  
</div>

</div>
 
  </div>
 

{{/partial}}

{{> template.hbs }}