{{# partial "contenido" }}
<style>
.jumbotron {
        background-color: #46aadf;
        color: #fff;
        padding: 100px 25px;
        margin-bottom: 100px;
        }


.selectores{
	  position: absolute;
	  left: 10%;
	  font-size: 50px;
}

.selectorPeriodo{
      position: absolute;
	  left: 10%;
	  font-size: 50px;
}

.container-fluid {
    background-color: #FFFFFF;
    padding: 10px 40px;
}

.row{
background-color : yellow;
 display: flex;
    align-items: center;
}
     
.col-lg-6 {
        text-align: center;
        margin: 25px 0;
    } 
     
        
</style>



 <div class="jumbotron text-center">

     <h1>Consultar indicadores</h1>
     <p>Ponga a prueba a las empresas evaluandolas con sus indicadores </p>

 </div>
 
 <div class = "container-fluid">
 
 <div class = "row row1">
 
 <div class = "col-lg-6">
 
  <div class="dropdown">
    <button class="btn btn-lg dropdown-toggle selectorIndicador" type="button" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Normal</a></li>
      <li class="disabled"><a href="#">Disabled</a></li>
      <li class="active"><a href="#">Active</a></li>
      <li><a href="#">Normal</a></li>
    </ul>
    </div>  
  </div>
  
  <div class = "col-lg-6">
  
  <!--Aca iria un campo en donde se mostraria la formula del indicador seleccionado ------- -->
  
  </div>
  </div>
  
   <div class = "row row2">
  
  <div class = "col-lg-6">
  
    <div class="dropdown">
    <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Normal</a></li>
      <li class="disabled"><a href="#">Disabled</a></li>
      <li class="active"><a href="#">Active</a></li>
      <li><a href="#">Normal</a></li>
    </ul>
  </div>
  </div>
  
  <div class = "col-lg-6">
  
   <div class="dropdown selectorPeriodo">
    <button class="btn btn-lg dropdown-toggle " type="button" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Normal</a></li>
      <li class="disabled"><a href="#">Disabled</a></li>
      <li class="active"><a href="#">Active</a></li>
      <li><a href="#">Normal</a></li>
    </ul>
  </div>
  </div>
  
  </div>

</div>

<div class="container">
  <h1>Hello World!</h1>
  <div class="row">
    <div class="col-sm-6" style="background-color:yellow;">
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-6" style="background-color:pink;">
      <p>Sed ut perspiciatis...</p>
    </div>
  </div>
</div>

{{/partial}}

{{> template.hbs }}