{{# partial "contenido" }}

    <style>

        .contenedor {
            margin-top: 10%;
        }

    </style>

    <div class="contenedor">

        <div class="well">

            {{formula}}

        </div>

        <form class="formcito" method="post">

            <label>Quiere agregar un...</label>
            <input type="submit" name="cosaAOperar" value="Indicador"/>
            <input type="submit" name="cosaAOperar" value="Cuenta"/>
            <input type="submit" name="cosaAOperar" value="Numero"/>

        </form>

    </div>

{{/partial}}

{{> template.hbs }}