{{# partial "titulo" }}
    <title>Consultorea.me</title>
{{/partial}}

{{# partial "contenidoDeCreacion" }}

    <head>
        <link rel="stylesheet"  href="/indicadoresCreacion.css">
    </head>

    <style>
        .well{
            height: 100px;
            text-align: center;
        }
        .imagenes{
            font-size: 70px;
            align-items: center;
        }

        .imagenes span{
            margin-right: 5px;
            color: #2B75BE;
            padding-left: 320px;
        }

    </style>

    <body>


    <div class="col-sm-2"></div>


    <div class="col-sm-8 parteIzq">

        <div class="contenidoCentral">

            <div class="well">

                {{formula}}

            </div>

            <div>
                <div class="imagenes">
                    <div>
                        <h3 style="padding-left: 120px">Seleccione un Operador o Cree el Indicador</h3>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="botonesICN">
            <form >
                <input type="submit" name="cosaAOperar" value="Indicador" disabled class="botonSecundario"/>
                <input type="submit" name="cosaAOperar" value="Cuenta" disabled class="botonSecundario"/>
                <input type="submit" name="cosaAOperar" value="Numero" disabled class="botonSecundario"/>
            </form>
        </div>

    </div>

    <div class="col-sm-1 parteDer">

        <div class="botonesCalcu">
            <form method="post">
                <div class="btnSuma">
                    <input type="submit" name="operador" value="+"  class="botonSecundario"/>
                </div>
                <div class="btnResta">
                    <input type="submit" name="operador" value="-"  class="botonSecundario"/>
                </div>
                <div class="btnMulti">
                    <input type="submit" name="operador" value="*"  class="botonSecundario"/>
                </div>
                <div class="btnDiv">
                    <input type="submit" name="operador" value="/"  class="botonSecundario"/>
                </div>

                <div class="btnCrear">
                    <input type="submit" name="operador" value="Crear"  class="botonPrincipal"/>
                </div>

            </form>
        </div>

    </div>


    <div class="col-sm-1"></div>


    </body>

{{/partial}}

{{> indicadoresCreacionTemplate.hbs}}