{{# partial "titulo" }}
    <title>Consultorea.me</title>
{{/partial}}

{{# partial "contenido" }}

    <style>

        .contenedor {
            margin-top: 10%;
        }

    </style>

    <div class="contenedor">

        <div class="well">

            {{formula}}

        </div>

        <form class="formcito" method="POST">

            <!-- TODO

                El input con el que selecciones el indicador tiene que tener por name "nombre"

            -->

            <input type="submit"/>

        </form>

    </div>

{{/partial}}

{{> template.hbs }}