{{# partial "titulo" }}
    <title>Consultorea.me</title>
{{/partial}}

{{# partial "contenido" }}

    <style>

        .contenedor {
            margin-top: 10%;
        }

    </style>

    <div class="contenedor">

        <div class="well">

            {{formula}}

        </div>

        <form class="formcito" method="POST">

            <label>Ingrese numero a operar</label>
            <input type="number" name="number"/>
            <input type="submit" value="Ingresar numero"/>

        </form>

    </div>

{{/partial}}

{{> template.hbs }}