{{# partial "titulo" }}
    <title>Consultorea.me</title>
{{/partial}}

{{# partial "contenido" }}

    <style>

        .formcito {
            margin-top: 10%;
        }

    </style>

    <form class="formcito" method="POST">

        <label>Nombre</label>
        <input type="text" name="nombre" value=""/>

        <input type="submit" value="Comenzar creación"/>

    </form>

{{/partial}}

{{> template.hbs }}