{{# partial "titulo" }}
    <title>Consultorea.me</title>
{{/partial}}

<head>
    <!-- Css del home -->
    <link rel="stylesheet"  href="login.css">
</head>

{{# partial "contenido" }}
    <form id="loginForm" class="form-login" method="POST">

        <div class="contenedor-input">
            <label class="descriptor-input">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="">
        </div>

        <div class="contenedor-input">
            <label class="descriptor-input">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="">
        </div>

        <input type="submit" class="btn btn-primary btn-md btn-block" id="loginButton" value="Login">

    </form>
{{/partial}}

{{> template.hbs }}