
.titulo {
    margin-bottom: 15px;
    font-family: WeblySleek UI, Segoe UI, Helvetica Neue, Arial, sans-serif;
    font-weight: 100;
    line-height: 1.2;
    font-size: 40px;
    color: #1c2b39;
}

.contenedor-blanco {
    background-color: #FFFFFF;
    height: 450px;
}

.contenedor-gris {
    background-color: #ECEFF1;
    height: 450px;
}

.contenedor-grisClaro {
    background-color: #F7F9FA;
    height: 450px;
}

.contenedor-blanco span {
    color: #31AEBF;
    font-size: 24px;
}

.contenedor-blanco button {
    backgroundcolor: #31AEBF;
}

.contenedor-gris span {
    color: #145367;
    font-size: 24px;
}

.contenedor-gris button {
    backgroundcolor: #145367;
}

.contenedor-grisClaro span {
    color: #2B75BE;
    font-size: 24px;
}

.contenedor-grisClaro button {
    backgroundcolor: #2B75BE;
}

.letra-descripciones-contenedores {
    line-height: 1.8;
    color: #4e5758;
    font-family: WeblySleek UI, Segoe UI, Helvetica Neue, Arial, sans-serif;
    border: 0;
    font-weight: 400;
    font-style: normal;
    margin-top: .5rem;
    font-size: 15px;
    text-align: -webkit-match-parent;
}

.item-descripcion {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.descripcion {
    font-size: 18px;
    font-weight: inherit;
    margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.boton {
    margin-left: 10px;
}

.jumbotron {
    background-color: #2A93DF;
    color: #fff;
    /*padding: 100px 25px;*/
}

.contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


