{{# partial "contenido" }}

    <!---------Deberia estar en el css de Home -------------->
    <style>
        .titulo {
            margin-bottom: 15px;
        }

        .contenedor-gris {
            background-color: #ECEFF1;
            padding: 120px 40px;
        }

        .contenedor-blanco {
            background-color: #FFFFFF;
            padding: 120px 40px;
        }

        .contenedor-grisClaro {
            background-color: #F7F9FA;
            padding: 120px 40px;
        }

        @media screen and (max-width: 768px) {
            .col-sm-4 {
                text-align: center;
                margin: 25px 0;
            }
        }

        .iconoOk {
            color: #31AEBF;
            font-size: 24px;
        }

        .letra-descripciones-contenedores {
            line-height: 1.8;
            color: #4e5758;
            font-family: WeblySleek UI, Segoe UI, Helvetica Neue, Arial, sans-serif;
            margin: 0;
            border: 0;
            font-weight: 400;
            font-style: normal;
            padding-left: 36px;
        }

        .item-descripcion {
            margin-bottom: 15px;

            display: flex;
            align-items: center;
        }

        .descripcion {
            font-size: 18px;
            font-weight: inherit;

            margin-left: 10px;
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
        }

        .boton {
            margin-left: 10px;
        }

    </style>


    <div id="empresas" class="container-fluid contenedor-blanco">
        <div class="row">
            <ul class="col-sm-4">
                <h2 class="titulo">Gestionar Empresas</h2>

                <ul class="letra-descripciones-contenedores">

                    <li class="item-descripcion">
                        <span class="glyphicon glyphicon-ok-circle iconoOk"></span>
                        <label class="descripcion">Puede visualizar las cuentas de una empresa dado un periodo</label>
                    </li>
                    <li class="item-descripcion">
                        <span class="glyphicon glyphicon-ok-circle iconoOk"></span>
                        <label class="descripcion">Puede obtener el valor de las cuentas de una empresa dado un periodo</label>
                    </li>

                </ul>

                <div class="buttons">

                    <button type="button" class="btn btn-primary btn-lg boton">Consultar</button>

                </div>

            </ul>

            <div class="col-sm-4">
                <img class="img-responsive rounded float-right" src="https://www.iae.edu.ar/es/PublishingImages/alumni/icono_empresas.png">
            </div>
        </div>
    </div>


    <div id="indicadores" class="container-fluid contenedor-gris">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="titulo">Gestionar Indicadores</h2>
                <ul class="letra-descripciones-contenedores">

                    <li class="item-descripcion">
                        <span class="glyphicon glyphicon-ok-circle iconoOk"></span>
                        <label class="descripcion">Aqui va una descripcion bonita</label>
                    </li>

                    <li class="item-descripcion">
                        <span class="glyphicon glyphicon-ok-circle iconoOk"></span>
                        <label class="descripcion">Aqui va una descripcion bonita</label>
                    </li>

                    <li class="item-descripcion">
                        <span class="glyphicon glyphicon-ok-circle iconoOk"></span>
                        <label class="descripcion">Aqui va una descripcion bonita</label>
                    </li>

                </ul>

                <div class="buttons">

                    <button type="button" class="btn btn-lg boton">Eliminar</button>
                    <button type="button" class="btn btn-lg boton">Crear</button>
                    <button type="button" class="btn btn-primary btn-lg boton">Consultar</button>

                </div>

            </div>
            <div class="col-sm-4">
                <img class="img-responsive rounded float-right" src="http://redenetsolucoes.com.br/img/components/bar-chart-icon.svg">
            </div>
        </div>
    </div>


    <div id="metodologias" class="container-fluid contenedor-grisClaro">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="titulo">Gestionar Metodologias</h2>
                <ul class="letra-descripciones-contenedores">

                    <li class="item-descripcion">
                        <span class="glyphicon glyphicon-ok-circle iconoOk"></span>
                        <label class="descripcion">Aqui va una descripcion bonita</label>
                    </li>

                    <li class="item-descripcion">
                        <span class="glyphicon glyphicon-ok-circle iconoOk"></span>
                        <label class="descripcion">Aqui va una descripcion bonita</label>
                    </li>

                    <li class="item-descripcion">
                        <span class="glyphicon glyphicon-ok-circle iconoOk"></span>
                        <label class="descripcion">Aqui va una descripcion bonita</label>
                    </li>

                    <li class="item-descripcion">
                        <span class="glyphicon glyphicon-ok-circle iconoOk"></span>
                        <label class="descripcion">Aqui va una descripcion bonita</label>
                    </li>

                </ul>

                <div class="buttons">

                    <button type="button" class="btn btn-lg boton">Eliminar</button>
                    <button type="button" class="btn btn-lg boton">Crear</button>
                    <button type="button" class="btn btn-primary btn-lg boton">Consultar</button>

                </div>

            </div>
            <div class="col-sm-4">
                <img class="img-responsive rounded float-right" src="http://www.arangobueno.com/wp-content/uploads/2016/08/Iconos_Empresariales.png" width="304" height="236">
            </div>
        </div>
    </div>

    <!--<script>-->
        <!--$(document).ready(function(){-->
            <!--// Add smooth scrolling to all links in navbar + footer link-->
            <!--$(".navbar a, footer a[href='#myPage']").on('click', function(event) {-->

                <!--// Make sure this.hash has a value before overriding default behavior-->
                <!--if (this.hash !== "") {-->

                    <!--// Prevent default anchor click behavior-->
                    <!--event.preventDefault();-->

                    <!--// Store hash-->
                    <!--var hash = this.hash;-->

                    <!--// Using jQuery's animate() method to add smooth page scroll-->
                    <!--// The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area-->
                    <!--$('html, body').animate({-->
                        <!--scrollTop: $(hash).offset().top-->
                    <!--}, 900, function(){-->

                        <!--// Add hash (#) to URL when done scrolling (default click behavior)-->
                        <!--window.location.hash = hash;-->
                    <!--});-->
                <!--} // End if-->
            <!--});-->
        <!--})-->
    <!--</script>-->

{{/partial}}

{{> template.hbs }}