{{# partial "contenido" }}

    <!---------Deberia estar en el css de Home -------------->
    <style>
        .contenedor-gris {
            background-color: #ECEFF1;
            padding: 120px 40px;
        }

        .contenedor-blanco {
            background-color: #FFFFFF;
            padding: 120px 40px;
        }

        .contenedor-grisClaro {
            background-color: #F7F9FA;
            padding: 120px 40px;
        }

        @media screen and (max-width: 768px) {
            .col-sm-4 {
                text-align: center;
                margin: 25px 0;
            }
        }

        .iconoOk {
            color: #31AEBF;
            font-size: 24px;
        }

        .letraDescripcionesContenedores {
            line-height: 1.8;
            color: #4e5758;
            font-family: WeblySleek UI, Segoe UI, Helvetica Neue, Arial, sans-serif;
            margin: 0;
            border: 0;
            font-weight: 400;
            font-style: normal;
            padding-left: 36px;
        }
    </style>


    <div class="container-fluid contenedor-blanco">
        <div class="row">
            <div class="col-sm-4">
                <h2>Gestionar Empresas</h2>
                <div class="letraDescripcionesContenedores">
                    <h4><span class="glyphicon glyphicon-ok-circle iconoOk"></span>Puede visualizar las cuentas de una empresa dado un periodo</h4>
                    <h4><span class="glyphicon glyphicon-ok-circle iconoOk"></span>Puede obtener el valor de las cuentas de una empresa dado un periodo</h4>
                </div>
                <button type="button" class="btn btn-primary btn-lg">Consultar</button>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive rounded float-right" src="https://www.iae.edu.ar/es/PublishingImages/alumni/icono_empresas.png">
            </div>
        </div>
    </div>


    <div class="container-fluid contenedor-gris">
        <div class="row">
            <div class="col-sm-4">
                <h2>Gestionar Indicaores</h2>
                <div class="letraDescripcionesContenedores">
                    <h4><span class="glyphicon glyphicon-ok-circle iconoOk"></span>Aqui va una descripcion bonita</h4>
                    <h4><span class="glyphicon glyphicon-ok-circle iconoOk"></span>Aqui va una descripcion bonita</h4>
                    <h4><span class="glyphicon glyphicon-ok-circle iconoOk"></span>Aqui va una descripcion bonita</h4>
                    <h4><span class="glyphicon glyphicon-ok-circle iconoOk"></span>Aqui va una descripcion bonita</h4>
                </div>
                <button type="button" class="btn btn-primary btn-lg">Crear</button>
                <button type="button" class="btn btn-primary btn-lg">Consultar</button>
                <button type="button" class="btn btn-primary btn-lg">Eliminar</button>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive rounded float-right" src="http://redenetsolucoes.com.br/img/components/bar-chart-icon.svg">
            </div>
        </div>
    </div>


    <div class="container-fluid contenedor-grisClaro">
        <div class="row">
            <div class="col-sm-4">
                <h2>Gestionar Metodologias</h2>
                <div class="letraDescripcionesContenedores">
                    <h4><span class="glyphicon glyphicon-ok-circle iconoOk"></span>Aqui va una descripcion bonita</h4>
                    <h4><span class="glyphicon glyphicon-ok-circle iconoOk"></span>Aqui va una descripcion bonita</h4>
                    <h4><span class="glyphicon glyphicon-ok-circle iconoOk"></span>Aqui va una descripcion bonita</h4>
                    <h4><span class="glyphicon glyphicon-ok-circle iconoOk"></span>Aqui va una descripcion bonita</h4>
                </div>
                <button type="button" class="btn btn-primary btn-lg">Crear</button>
                <button type="button" class="btn btn-primary btn-lg">Consultar</button>
                <button type="button" class="btn btn-primary btn-lg">Eliminar</button>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive rounded float-right" src="http://www.arangobueno.com/wp-content/uploads/2016/08/Iconos_Empresariales.png" width="304" height="236">
            </div>
        </div>
    </div>

{{/partial}}

{{> template.hbs }}