<!DOCTYPE html>

<html lang="en">

<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="mainGeneral.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{{# block "masEstilos" }}
		<!-------Aca se pueden agregar más estilos------->	
	{{/ block }}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{# block "masMetadata" }}
		<!-------Aca va el título de la pantalla en el browser------->
	{{/ block }}
	
</head>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header logo">
		<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-compressed"></span>Logo</a>
	</div>

	<ul class="nav navbar-nav navbar-center">
		<li><a href="#empresas">EMPRESAS</a></li>
		<li><a href="#indicadores">INDICADORES</a></li>
		<li><a href="#metodologias">METODOLOG&Iacute;AS</a></li>
	</ul>

	<ul class="nav navbar-nav navbar-right login">
		<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>LOGIN</a></li>
	</ul>
</nav>

	{{# block "contenido" }}
		<!-------Aca ira el contenido de las distintas paginas------->
	{{/ block }}


</body>

<footer class="container-fluid text-center">
	<a href="#myPage" title="To Top"><span class="glyphicon glyphicon-chevron-up"></span></a>
	<p class="text-center">&copy; 2015 AxelBags.com</p>
</footer>

</html>